@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .primary-btn {
    @apply px-6 py-3 rounded-md font-semibold text-white bg-primary duration-300 hover:!scale-105;
  }
}

@layer utilities {
  .drop-shadow {
    filter: drop-shadow(-6px 8px 10px rgba(0, 0, 0, 0.2));
  }
}
